# operators in python 2

# take 2 input from user and print the largest one

In [1]:
m = int(input("enter first number"))
n = int(input("enter second number"))
k= m if m>n else n
print(k)

enter first number10
enter second number45
45

# take 3 disnict number form users and print the largest one

In [2]:
a = int(input("enter first number:"))
b = int(input("enter second number:"))
c = int(input("enter third number:"))
d =  a  if a>b and a>c else   b if b>c else c
print(d)

enter first number:3
enter second number:2
enter third number:4
4

In [33]:
a = 15
b = 10

In [34]:
id(a)

140734621193448

In [35]:
id(b)

140734621193288

In [36]:
id(a) == id(b)

False

In [37]:
#same is performed by 'is' operator
id(a) is id(b) # id(a)==id(b)   if both a and b are pointing to a same object it return True else False

False

In [56]:
e = 15
f = 15     # in python 'x' and 'y' id will same cuz they are having one value in it

In [57]:
id(e)

140734621193448

In [58]:
id(f)

140734621193448

In [59]:
id(e) == id(f)# check both have same value or not

True

In [60]:
id(e) is id(f)

False

In [61]:
e is f # check the pointing memory location

True

In [52]:
p="mithun"
q="mithun"

In [53]:
id(p)

1898831100528

In [54]:
 id(q)

1898831100528

In [55]:
p is q

True

In [62]:
id(p)==id(q)

True

In [64]:
id(p) is id(q)

False

In [66]:
id(p)!= id(q)

False

'in' operator ==> 'in' operator is called as membership operator in python 
                               it returns only True or False

In [67]:
s = "mithun is a bad boy"

In [68]:
'm' in s

True

In [69]:
'M' in s

False

In [75]:
' ' in s

True

In [76]:
'     ' in s

False

In [77]:
"mithun is" in s

True

In [80]:
"raptan"  not in s #==>"raptan" is not there in string thats why it prints True

True

In [81]:
l=[1,2,34,56,"mithun"]

In [82]:
1 in l

True

In [83]:
"mithun" in l

True

In [84]:
45 in l

False

declaring variable and it's value at one line

In [88]:
a,b,c = 10,34,56
#instead of written multiline code
#a = 10
# b = 34
# c = 56

In [89]:
a

10

In [90]:
b

34

In [91]:
c

56

output function ==>print()
print()==> used to print the result
            it also works as a new line, below some code is provided using print() function

In [87]:
print("hello")
print() #this will work as a new line
print("everyone")
print()# this will work as a new line
print("kaise ho");

hello

everyone

kaise ho

In [92]:
i,j,k = 3,4,5

In [94]:
print(i,j,k) #by default output values are seperated by space

3 4 5

In [98]:
#sep attribute
# if i want to specify any other seperator then i have to use 'sep'
print(i,j,k, sep='@') # we can use any seperator

3@4@5

In [99]:
print(i,j,k,sep = '')

345

In [100]:
print(i,j,k,sep='mithun')

3mithun4mithun5

use +

In [101]:
print("mithun" + "raptan") #'+' oprator concatenate the string

mithunraptan

In [103]:
print(3+5)# this is not string thats why it simply add

8

In [104]:
print("3"+"5") # concatenate ==>35

35

In [107]:
print("mithun","raptan") #space is there bcz by default seperator is a space

mithun raptan

In [111]:
a =10
b = 20
c = a+b
print("the sum is",c)

the sum is 30

In [113]:
a =10
b = 20
c = a+b
print("the sum is",c, sep="         ")

the sum is         30

In [ ]:
end attribute #==> by default end attribute is \n i,e. new line

In [122]:
print("hello",end=" ")
print("everyone",end =" ")
print('kaise',end=" ")
print("ho")

hello everyone kaise ho

In [125]:
l2=[1,2,3,"mithun"]

In [126]:
l2

[1, 2, 3, 'mithun']

In [127]:
x2 = (3,4,5,6,"raptan")

In [128]:
x2

(3, 4, 5, 6, 'raptan')

In [129]:
a=20
b=30
c=50
print("the first value is:",a,"the second value is:",b,"the third value is:",c)

the first value is: 20 the second value is: 30 the third value is: 50

In [134]:
print("hello \n baccho")

hello
baccho

In [138]:
print(2*"mithun")

mithunmithun