# mutable & imutable

'''immutability: once an object is created no-one can update it, 
and if python allow to update then it means internally python created another memory 
location (ex: string, tupple)'''
#mutability: we can update this object (list,set,dictionary)

In [3]:
s="mithun" #this is a string
s[2]="h"  # we can't update the string this is why it is immutable

TypeError: 'str' object does not support item assignment

In [4]:
a =10
id(a)

140734621193288

In [5]:
a=15
id(a) # 'a' is updated and internally created another memory location for 'a'

140734621193448

In [7]:
id(a)

140734621193448

#list : group of elements
#         order preserved(index)
#         duplicate elements allowed
#         heterogen element

In [33]:
l=[1,23,4,"mithun",67]
type(l)

list

In [35]:
l[0]

1

In [34]:
l[-1]

67

In [13]:
#slicing on list

In [14]:
l[1:4] #slicing 1,2,3 i,e. 1 to 4-1==>element 2nd,3rd,4th

[23, 4, 'mithun']

In [16]:
l[0]=1001
l             # here we can see we update the first element of list, so lists are mutable

[1001, 23, 4, 'mithun', 67]

In [20]:
#append() : add an element in the end of the list
l.append("raptan")
l

[1001, 23, 4, 'mithun', 67, 'raptan']

In [21]:
l.append(1001) #list can have duplicate value example
l

[1001, 23, 4, 'mithun', 67, 'raptan', 1001]

In [27]:
#remove() : used to remove an element from the list
l.remove(23)  #don't use index inside remove() function, use element value.
l

[1001, 4, 'mithun', 67, 'raptan', 1001]

In [28]:
l.remove(1001) #only remove first occurence of that element
l

[4, 'mithun', 67, 'raptan', 1001]

In [45]:
l[3][1]='h'   #ud ke lath padegi, since str object is immutable so we can not chnage anything in string

TypeError: 'str' object does not support item assignment

In [36]:
# tupple : group of elements
#            order preserved(index)
#            duplicate elements elements allowed
#            tupple is read only, means tupple is immutable

In [37]:
t=(10,12,3,"mithun",67,10)
type(t)

tuple

In [38]:
t[0] #index allowed so we can see the value of a particular index i,e. tupple is read only

10

In [46]:
t[1:4] #1 to till 4-1

(12, 3, 'mithun')

In [41]:
t[0]=1001    # tupple is immutable so we can't change or update anything onto it
t

TypeError: 'tuple' object does not support item assignment

In [42]:
t.append("raptan") # ud ke laath padegi, immutable hai beta

AttributeError: 'tuple' object has no attribute 'append'

In [43]:
t.remove(10) #immutable hai beta , koi change nhi kar sakte

AttributeError: 'tuple' object has no attribute 'remove'

In [47]:
# range : represents a sequence of numbers

In [48]:
range(5) # it will generates number internally starting from 0 to 5-1

range(0, 5)

In [58]:
#by the help of loop we can see theinternally generate numbers 
for elements in range(5):print(elements)     # this is the way of writing loop in python

0
1
2
3
4

In [59]:
#format 3
range(5,15,3) # here 3 is the format means it will print like 5, 8, 11, 14.

range(5, 15, 3)

In [60]:
for i in range(5,15,3): print(i)

5
8
11
14

In [61]:
#set : represent a set
    no duplicate elements will be there in set
    order not preserved i,e. no concept of indexing
    slicing is not posibile cuz indexing is not there
    heterogenous eements
    mutable
    growable(add/remove)

In [69]:
s={1,2,3,'mithun',4,'raptan',4} # '4' will not be print cuz in set no duplicate elements wil be present

In [70]:
print(s)

{1, 2, 3, 4, 'mithun', 8, 'raptan'}

In [67]:
a = set("mitthun") #'t' will print one time cuz in set no duplicate elements will be presents
print(a)

{'u', 'h', 'm', 'n', 'i', 't'}

In [71]:
s.add(12) # to add element in the set
s

{1, 12, 2, 3, 4, 8, 'mithun', 'raptan'}

In [72]:
s.remove(3) #to remove an element in the set
s

{1, 12, 2, 4, 8, 'mithun', 'raptan'}

In [73]:
#frozenset ==> same as set but it is immutable
#                 no add elements
#                 no remove elements

In [77]:
s = {10,12,14,15,21,22}
f = frozenset(s)

In [78]:
type(f)

frozenset

In [79]:
f

frozenset({10, 12, 14, 15, 21, 22})

In [80]:
f.add(1001) #error cuz we can't add elements in frozenset

AttributeError: 'frozenset' object has no attribute 'add'

In [81]:
f.remove(12) #error cuz we can't remove elements in frozenset

AttributeError: 'frozenset' object has no attribute 'remove'

In [2]:
#dictionary : key:value
#             duplicate keys not allowed
#             but duplicate values is allowed
#             mutable but order is not preserved i,e indexing is not there

d = {
    1:"ram",2:"shyam",3:"yadu",4:"madhu"
};

In [3]:
d[1]

'ram'

In [5]:
d

{1: 'ram', 2: 'shyam', 3: 'yadu', 4: 'madhu'}

In [8]:
d[1]='mithun'  #we are trying to {1:"mithun"}

In [9]:
d

{1: 'mithun', 2: 'shyam', 3: 'yadu', 4: 'madhu'}

In [10]:
#creating empty dictionary
d={}

In [11]:
type(d)

dict

In [12]:
#inserting element into empty dictionary
d[1]="abhijit"

In [13]:
d[2]="sagar"

In [14]:
d[3]="rima"
d[4]="susmita"

In [15]:
d

{1: 'abhijit', 2: 'sagar', 3: 'rima', 4: 'susmita'}

In [16]:
# creating empty set
s = set()

In [18]:
type(s)

set

In [26]:
s=(11,12) #adding element into empty set

In [27]:
s

(11, 12)