function 3

# Anonymous function:
    syntax:    lambda arguments : expression
        name = lambda    x      : code/expression             # 'name' is this function name 
                                                              # 'x' is the argument of this function

In [1]:
s = lambda x: x*x*x
s(5)

125

In [2]:
print(s(3))

27

In [3]:
def f(a,b):
    return a*b
f(2,5)

10

In [5]:
# previous multiplication function using lambda/anonymous function
f = lambda a,b : a*b
f(2,5)

10

In [7]:
# find minimum among 2 numbers
f = lambda x,y :  x   if x<y else  y
f(10,20)

10

filter(function-name,group of values/sequence) ==> filter those value based on some conditions

In [11]:
def f(x):
    if x%3==0:
        return True
    else:
        return False

    
output= filter(f,[10,20,30,40,50,60])
OUTPUT=list(output)
print(OUTPUT)

[30, 60]

In [12]:
output=list(filter(f,(10,20,30)))
print(output)

[30]

In [16]:
# using lambda function
output=list(filter(lambda x : True if x%3==0 else False,[10,20,30,40,50,60]))
print(output)

[30, 60]

In [18]:
output=list(filter(lambda x :  x%3==0 ,[10,20,30,40,50,60]))
print(output)

[30, 60]

# map(function_name , sequence) ==> whenever we want similar changes to all the sequence.

In [23]:
def f(x):
    return (x*x*x)
output=map(f,[1,2,3,4,5,6])
OUTPUT = list(output)
print(OUTPUT)

[1, 8, 27, 64, 125, 216]

In [25]:
# using lambda function
output=list(map(lambda x : x*x*x , [1,2,3,4]))
print(output)

[1, 8, 27, 64]

In [26]:
# adding two sequence using map()
a=(1,2,3,4)
b=(5,6,7,8)
output=tuple(map(lambda x,y : x+y , a,b))
print(output)

(6, 8, 10, 12)

In [29]:
def f(x):
    return x*x
g=f  # giving f reference to g..# now g and f are same and pointing to same memory address.
print(f(2))
print(g(2))

4
4

In [31]:
# concept clearing

def f1():
    print("start 1")
    f2()
    print("end 1")
    
def f2():
    print("Start 2")
    f3()
    print("end 2")
    
    
def f3():
    print("start 3")
    print("end 3")

    
    
f1()

start 1
Start 2
start 3
end 3
end 2
end 1