In [1]:
print("my name is mithun raptan")

my name is mithun raptan

In [2]:
#this is a comment 
print("comment krna sikhlo beta")

comment krna sikhlo beta

In [3]:
print("comment krne ka aur ak tarika") #this is also a comment

comment krne ka aur ak tarika

In [6]:
# this is comment line 1
#this is comment line 2
print("multiline comment")

multiline comment

In [7]:
'''this is also multiline comment
mai yaha kuch bhi likh sakta hun but
meaningful likhna acchi baat hai '''
print("multiline comment")

multiline comment

In [8]:
s = "mithun"
print(s[0])

m

In [10]:
print(s[-6]) #negative indexing start with last string character(index is-->-1 )

m

In [11]:
print(s[1])
print(s[-5]) #both will return same output

i
i

In [12]:
print(s[6]) # out of range

IndexError: string index out of range

In [13]:
#slicing of string

print(s[1:5]) # start from index 1 go till index 5-1 i.e,(1,2,3,4)

ithu

In [14]:
print(s[1:100]) # start from index 1 go till last

ithun

In [15]:
print(s[1:]) # start from index 1 go till last

ithun

In [16]:
print(s[:4]) #start with 0 index and go till index 4-1 i.e,(1,2,3)

mith

In [17]:
print(s[:]) #it will return thw whole string

mithun

In [18]:
print(s*2) #print the string two times

mithunmithun

In [20]:
print(len(s)) # to print the length of the string

6

In [23]:
print(type(len))

<class 'builtin_function_or_method'>

In [38]:
#int() this function is used to convert values from other type to int type 
print(int(12.4))

12

In [40]:
print(int(12+5)) # we can perform addition inside int() function

17

In [41]:
print(int(12+5j)) # we can't perform complex number addition or anything

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [43]:
int(True)

1

In [44]:
int(False)

0

In [45]:
int("123") #int() will convert the string type value to integer type value

123

In [46]:
int("12.3")

ValueError: invalid literal for int() with base 10: '12.3'

In [47]:
#float() method : to convert any type to float type

In [50]:
float(12)

12.0

In [51]:
float(12+5)

17.0

In [52]:
float(12+5j) #can't add complex number

TypeError: float() argument must be a string or a real number, not 'complex'

In [53]:
float(True)

1.0

In [55]:
float(False)

0.0

In [56]:
float("123")

123.0

In [57]:
float("12.3")

12.3

In [58]:
int("one") # only can convert number type string

ValueError: invalid literal for int() with base 10: 'one'

In [59]:
float("one") # only can convert number type string

ValueError: could not convert string to float: 'one'

In [60]:
#complex() method : convert other tyoe to complex type

In [61]:
complex(2)

(2+0j)

In [63]:
complex(True)

(1+0j)

In [64]:
complex(False)

0j

In [65]:
complex("12")

(12+0j)

In [66]:
complex("12.4")

(12.4+0j)

In [68]:
complex("one") #ud ke lath padegi

ValueError: complex() arg is a malformed string

In [69]:
complex(10,2) # 10 - real number and 2 - imaginary

(10+2j)

In [ ]:
#bool() method : convert values from other type to bool type

In [70]:
bool(1)

True

In [71]:
bool(0)

False

In [72]:
bool(500)

True

In [73]:
bool(-500)

True

In [74]:
bool(12.5)

True

In [75]:
bool("200")

True

In [76]:
bool(2+5j)

True

In [77]:
bool(0.0)

False

In [78]:
bool(0.0j)

False

In [80]:
bool("ten")

True

In [81]:
bool()

False

In [82]:
bool("")

False

In [83]:
bool(" ") #one space is there inside the quote, this is why it returns true.

True

In [84]:
#str() method : convert anything to string

In [85]:
str(12)

'12'

In [86]:
str(12.9)

'12.9'

In [88]:
str("true")

'true'

In [89]:
str(True) #it also convert boolean to string

'True'

In [90]:
str(False)

'False'