# operators in python 1

In [1]:
a = 10
b = 20

In [2]:
a+b

30

In [3]:
a-b

-10

In [4]:
a*b

200

In [7]:
b/a # always floating point arithmetic, return float value

2.0

In [8]:
b//a #floor division

2

In [9]:
a=10
b=4

In [10]:
a/b #return float value

2.5

In [11]:
a//b # returns only floor value

2

In [15]:
# // it can perform both float and floor division

20.0//6 #returns floor value

3.0

In [17]:
20.0//6.0

3.0

In [18]:
20/6

3.3333333333333335

In [19]:
# modulas operator (%) ==> remainder when a is divided by b

In [20]:
20%3  # 2 is the remainder

2

In [24]:
#power operator (**) ==> a^b(a to the power b)

In [23]:
2**2 # 2 to the power 2 i,e. 4

4

In [25]:
# concatenation  ==> type must be same

In [26]:
a = 'mithun'
b = 'raptan'
a+b  # '+' means concatenation

'mithunraptan'

In [28]:
type(a)

str

In [29]:
type(b)

str

In [32]:
a = 'sagar' #type(a)==>str
b = 10      #type(b)==>int
#both are not same type
a+b # ud ke laath padegi

TypeError: can only concatenate str (not "int") to str

In [33]:
"mithun"*2

'mithunmithun'

In [35]:
"mithun"**2 #ud ke laath

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [36]:
"mithun"*"raptan"

TypeError: can't multiply sequence by non-int of type 'str'

In [38]:
"mithun"*2.5

TypeError: can't multiply sequence by non-int of type 'float'

In [40]:
#relational operator ==> returns True or False 
                #chaining is possible
              # does not work with complex numbers
a=10
b=20
p1=a>b
p2=a<b
print(p1)
print(p2)

False
True

In [42]:
a=10
b=10
print(a>=b)
print(a<=b)

True
True

In [43]:
# relational operator is also applicable to string also

In [45]:
a="mithun"
b="raptan"
a<b # 'm' comes first before 'r' in dictionary. so 'r' will have more value than 'p'
    # this is why it returns ==>True

True

In [46]:
a>b

False

In [51]:
2+3j>5+6j  # relational operator does not work with complex number

TypeError: '>' not supported between instances of 'complex' and 'complex'

In [52]:
#chaining in relational operator
10<20<30<50 # it means 10<20   20<30   30<50 ==> if this 3 parts are true then it will return 'True'

True

In [55]:
10<20<5>4>3 #20<5 is false, this is why it returns False

False

In [47]:
a = 100
id(a)

140734621196168

In [49]:
a= a+1
a

102

In [50]:
id(a) # id will be changed , cuz internally created another memory and 'a' is assign that memories address

140734621196232

In [58]:
# input() function ==> taking input from users
a = input()

b= input()

3
4

In [59]:
type(a)

str

In [60]:
type(b)

str

In [61]:
a+b # perfrom concatenation cuz input() takes input as string

'34'

In [62]:
#input()==>takes input as string
a = input() # 20 ==> '20'
b= input() # 30 ==> '30'
a+b # '20'+'30' ==> '2030'

In [63]:
#input() ==> takes input as string ==> convert string to integer==>int() function

In [64]:
a = input()
a1 = int(a) # convert string into int

3

In [65]:
type(a)

str

In [66]:
type(a1)

int

In [68]:
# we can directly convert str to int
a = int(input())
type(a)

4

int

In [69]:
# logical operator ==> works on all type of data
# logical 'and' operator ==>if the first operand is true then it will return 2nd operand else 1st operand

In [70]:
10 and 20 #==> True return 2

20

In [71]:
20+3j and 5+5j

(5+5j)

In [72]:
0 and 20 #==>False retirn 0

0

In [73]:
0.1 and 500 #==> True return 500

500

In [74]:
"mithun" and "raptan" #True return 'raptan'

'raptan'

In [75]:
"mithun" and "" #true return '' string

''

In [77]:
"" and "raptan" # empty string means False this is why it returns empty string ''

''

In [80]:
#logical 'or' operator
        #if the first operand is true then it will return 1st operand else 2nd operand

In [82]:
2 or 3

2

In [83]:
0 or 5 # 1st operand is false thats why 2nd operand is return

5

In [84]:
"mithun" or "raptan"

'mithun'

In [85]:
2+4j or 6+6j

(2+4j)

In [86]:
0+0j or 9+9j

(9+9j)

In [87]:
"" or 5

5

In [88]:
#logical 'not' operator
    #not(True) ==> False
    #not(False) ==>True

In [89]:
not(True)

False

In [90]:
not(False)

True

In [92]:
not(0)   # only 0 and ''(empty string) presents 'False' , else everything represents 'True'

True

In [93]:
not("")

True

In [94]:
not(1)

False

In [95]:
not(20.53)

False

In [96]:
not(0+0j)

True

#bitwise operator ==> only int and bool pe work krte hai 
   # & => bitwise 'and' operator   => convert the given decimal to binary and then perform 'and' operation
                                        #both True =>True , else False
    # | => bitwise 'or' operator  =>convert the given decimal to binary and then perform 'or' operation
                                        #any of them True => True , both True=>True, else False(both False)

In [98]:
5 & 6 #convert 5, 6 into binary=> perform 'and' operation

4

In [102]:
-5 & 6

2

In [103]:
10.4 & 5 # ud ke lath => works only int and bool

TypeError: unsupported operand type(s) for &: 'float' and 'int'

In [104]:
5 | 6  # perform 'or' operation

7

In [105]:
4+4j | 9+7j # works only int and bool reh baba

TypeError: unsupported operand type(s) for |: 'complex' and 'complex'

In [107]:
True | True

True