# list datatype 1

list 
    #duplicate allowed
    #order preserved  # means indexing allowed  # indexing allowed then slicing possible
    #mutable
    #heterogenous

In [1]:
#there are multiple ways to creating list in python

In [3]:
#creating empty list
l =[]
print(type(l))
l1 = list()
print(type(l1))

<class 'list'>
<class 'list'>

In [17]:
# we can directly create list
l=[2,3,4,1,"mithun"]
print(l)

[2, 3, 4, 1, 'mithun']

In [6]:
#creating list using eval function
l=eval(input("use syntax for each datatype: "))
type(l)

use syntax for each datatype: []

list

In [8]:
#we can put element inside from users through eval function too 
l=eval(input("use syntax for each datatype: "))
print(type(l))
print(l)

use syntax for each datatype: [2,3,2,1,4,5,6,3]
<class 'list'>
[2, 3, 2, 1, 4, 5, 6, 3]

In [5]:
l = list(range(6))
print(l)

[0, 1, 2, 3, 4, 5]

In [4]:
l = list(range(1,6))
print(l)

[1, 2, 3, 4, 5]

In [16]:
l=[]
for i in range(1,5):
    l.append(i)
print(l)

[1, 2, 3, 4]

some concept clearing program

taking a space separated sequesnce integer from user

In [7]:
s = input("give number using space as a separator: ")
l = s.split() #==>list of numbers but string fromat list
print(l)
print(type(l[0])) # gives string

give number using space as a separator: 1 2 3
['1', '2', '3']
<class 'str'>

In [26]:
s = input("give number using space as a separator: ")
e =[]
l = s.split() #==>list of numbers but string fromat list
for i in l:
    e.append(int(i)) #string type will convert into int type
print(e)
print(type(e[0])) # it will return the element type as int

give number using space as a separator: 3 4 5 6
[3, 4, 5, 6]
<class 'int'>

In [28]:
n = int(input("enter the total elements you want in your list: "))
l=[]
for i in range(n):
    l.append(int(input("enter list element: ")))
print(l)

enter the total elements you want in your list: 4
enter list element: 4
enter list element: 3
enter list element: 2
enter list element: 6
[4, 3, 2, 6]

list comprehension

In [29]:
l = [  0   for i in range(5)]  # easiest way to create list using range function
                                # it means 5 times zero(0) list me add hoga.
print(l)

[0, 0, 0, 0, 0]

In [30]:
l = [   i    for i in range(5)]
print(l)

[0, 1, 2, 3, 4]

In [34]:
n = int(input("enter number: "))
l = [ i      for i in range(n)]
print(l)

enter number: 4
[0, 1, 2, 3]

In [35]:
n = int(input("enter number: "))
l = [ 2*i      for i in range(n)]
print(l)

enter number: 5
[0, 2, 4, 6, 8]

In [36]:
n = int(input("enter number: "))
l = [ 2+i      for i in range(n)]
print(l)

enter number: 5
[2, 3, 4, 5, 6]

In [37]:
n = int(input("enter number: "))
l = [ i*i      for i in range(n)]
print(l)

enter number: 5
[0, 1, 4, 9, 16]

In [40]:
#append() function is used to insert at the end of the list
l=[]
l.append(100)
l.append(34)
l.append("pankaj")
print(l)

[100, 34, 'pankaj']

In [9]:
#insert() function is used to insert an element starting of the list
  # insert(index,element) => takes 2 argument in it   one in index no   and another is adding element
l=[1,2,3,"mithun"]
l.insert(0,"raptan")
print(l)

['raptan', 1, 2, 3, 'mithun']

In [10]:
l.insert(3,200)
l

['raptan', 1, 2, 200, 3, 'mithun']

In [11]:
l.insert(50,50000)  # 50=> largest index possible    #50000 will be added at last of the string
l

['raptan', 1, 2, 200, 3, 'mithun', 50000]

remove(argument) => to remove specified element in the list, remove() takes one argument which is to be delete
pop()  => empty pop() is used to remove an element at the end of the list
pop(index)  => index no element to be delete 
    #pop() return the deleted element , if we wanr then we can store that deleted element inside a variable

In [30]:
l=['raptan', 1, 2, 200, 3, 'mithun']
l.remove() # error, cuz remove function takes one argument
l

TypeError: list.remove() takes exactly one argument (0 given)

In [12]:
l=['raptan', 1, 2, 200, 3, 'mithun']
l.remove(200)
l

['raptan', 1, 2, 3, 'mithun']

In [12]:
l = [1,2,3,4]
l.add(15)
print(l)

AttributeError: 'list' object has no attribute 'add'

In [23]:
a = [1,2,3,4]
print("the id of a is",id(a))
b = [5,6,7,8]
print("the id of b is",id(b))
a.extend(b)  # a er sathe b ko extend koro
print(a)
print("updated a but id is previous",id(a))
print("still b id is",id(b))

the id of a is 2302207166720
the id of b is 2302207170880
[1, 2, 3, 4, 5, 6, 7, 8]
updated a but id is previous 2302207166720
still b id is 2302207170880

pop() function

In [11]:
a = [1,2,3,4]
b = a.pop()  # empty pop() => last element delete
print(b)
print(a)

4
[1, 2, 3]

In [32]:
a = [1,2,3,4]
a.pop(2) # 2 index no element deleted => [1,2,4]
a

[1, 2, 4]

In [9]:
l = [1,2,3,4]
popped_element = l.pop(2)
print(popped_element)
print(l)

3
[1, 2, 4]

None keyward => None means nothing . exactly same meaning in coding also

In [36]:
a = [1,2,3,4]
a=None
a

index(element) => return the elements index

In [17]:
a = [1,2,3,4]
print(a.index(1))

0

In [22]:
a = [1,2,3,4]
b= a.index(1)
print(b)

0

reverse() => use to reverse the list element

In [15]:
a = ["mithun",1,3,2,4,"raptan"]
print(id(a))
a.reverse()
print(a)
print(id(a)) #same id, cuz list is mutable

1520153392320
['raptan', 4, 2, 3, 1, 'mithun']
1520153392320

sort() => used to sort the element in the list

In [58]:
a = [2,3,1,6,8,3,4,56]
a.sort()
a

[1, 2, 3, 3, 4, 6, 8, 56]

In [64]:
a = [2,3,1,6,8,3,4,56]
a.sort()  # sorting hobe
print(a)
a.reverse() #sorting element reverse hbe
print(a)

[1, 2, 3, 3, 4, 6, 8, 56]
[56, 8, 6, 4, 3, 3, 2, 1]

In [68]:
a = [2,3,1,6,8,3,4,56]
a.sort(reverse=True)  # sort hone ka baad reverse hojayega aksath
print(a)

[56, 8, 6, 4, 3, 3, 2, 1]

In [27]:
a = [2,3,1,6,8,3,4,56,"mithun"]
a.sort()  # sorting hobe
print(a)

TypeError: '<' not supported between instances of 'str' and 'int'

copy()=> copy the entire list

In [1]:
a = [2,3,1,6,8,3,4,56]
b = a.copy()
print(b)

[2, 3, 1, 6, 8, 3, 4, 56]

In [2]:
a = ["apple","banana","cherry"]
b = "banana" in a
print(b)

True