# control flow statement part 1

control flow statement== if statement and 
                          else statement

## largest among 2 numbers

In [4]:
a = int(input("enter first number:"))
b = int(input("enter second number:"))
if a>b :
    print("the largest number among",a,"and",b,"is",a)
else:
    print("the largest number among",a,"and",b,"is",b)

enter first number:6
enter second number:3
the largest number among 6 and 3 is 6

## largest among 3 numbers

In [1]:
a = int(input("enter first number:"))
b = int(input("enter second number:"))
c = int(input("enter third number:"))
if a>b and a>c:
    print("the largest number among",a,b,"and",c,"is",a)
else:  ## this is nested condition concept==> codition ke andar condition ko nested condion kehte hai.
    if b>c:
        print("the largst among",a,b,"and",c,"is",b)
    else:
        print("the largst among",a,b,"and",c,"is",c)

enter first number:5
enter second number:10
enter third number:50
the largst among 5 10 and 50 is 50

elif conditon ==> we cannot put condition with else , this is why we put condition with 'elif'

In [3]:
a = int(input("enter first number:"))
b = int(input("enter second number:"))
c = int(input("enter third number:"))
if a>b and a>c:
    print("the largest number among",a,b,"and",c,"is",a)
elif b>c :
    print("the largest number among",a,b,"and",c,"is",b)
else : # else statement ==> default code will run 
    print("the largest number among",a,b,"and",c,"is",c)

enter first number:5
enter second number:6
enter third number:7
the largest number among 5 6 and 7 is 7


# loop

loop ==> for loop

loop ==> repeat the code
in python for loop syntax ==> for x in sequence :  # sequence is having group of elements i,e range, tupple, list, string, set, dictionary
                                        code

In [4]:
for x in "mithun":
    print(x)

m
i
t
h
u
n

In [11]:
i=0
for x in "mithun":
    print("the element of index",i,"is",x)
    i=i+1

the element of index 0 is m
the element of index 1 is i
the element of index 2 is t
the element of index 3 is h
the element of index 4 is u
the element of index 5 is n

In [12]:
for x in range(5):
    print(x)

0
1
2
3
4

In [13]:
for x in range(5):
    print("mithun")

mithun
mithun
mithun
mithun
mithun

In [14]:
for x in range(1,6):
    print(x)

1
2
3
4
5

In [20]:
i="mithun"
for x in range(1,6):
    print("for x value",x,"printing",i)

for x value 1 printing mithun
for x value 2 printing mithun
for x value 3 printing mithun
for x value 4 printing mithun
for x value 5 printing mithun

In [21]:
for x in range(1,10):
    i= x%2
    if i == 0 :
        print(x)

2
4
6
8

In [28]:
for x in range(5,1,-3):
    print(x)

5
2

find the product of first 5 natural number

In [34]:
product = 1 #initializing product is 1
for x in range(1,6):
    product = product * x # updating the product value
print(product)

120

general form of n natural number's product given by user

In [40]:
a = int(input("enter the number to find product "))
product = 1
for x in range(1,a+1):
    product = product*x
print("the first",a,"number product is:",product)

enter the number to find product 6
the first 6 number product is: 720

In [41]:
l=[2,4,3,5]
sum = 0
for x in l:
    sum = sum + x
print(sum)

14

use se list create krke sum krne ka tarika(only for when list is not having 0)

In [5]:
l=[]
while True:
    a=int(input("enter list element"))
    if a!=0:
        l.append(a)
        print(l)
    else:
        break  #it will terminate the whole while loop
            
            
print("final list is ",l)
sum=0
for x in l:
    sum = sum +x
print("the sum of the list is:", sum)

enter list element5
[5]
enter list element6
[5, 6]
enter list element7
[5, 6, 7]
enter list element3
[5, 6, 7, 3]
enter list element5
[5, 6, 7, 3, 5]
enter list element0
final list is  [5, 6, 7, 3, 5]
the sum of the list is: 26

python eval function==> creating list, tupple, set, string,all kind of group or sequence

In [1]:
l = eval(input("enter")) # eval==>evaluate.  we just have to use the symbol in output section,
                                       #eval function will automatically convert it to that type
                                        # list, tupple, set, etc.
type(l)

enter(3,4,5,6,7,2)

tuple

In [2]:
l = eval(input("enter")) # eval==>evaluate.  we just have to use the symbol in output section,
                                       #eval function will automatically convert it to that type
                                        # list, tupple, set, etc.
type(l)

enter[3,2,1,4,5]

list

In [1]:
l = eval(input("enter")) # eval==>evaluate.  we just have to use the symbol in output section,
                                       #eval function will automatically convert it to that type
                                        # list, tupple, set, etc.
type(l)

enter{4,3,2,5,6,6}

set

In [11]:
l = eval(input("enter"))
type(l)

enter{1:"mithun",2:"raptan",3:"sazu"}

dict

sum of all the elements given by user using eval function

In [10]:
l=eval(input("enter the element"))
sum=0
for x in l:
    sum= sum + x
print("the sum of the given",type(l),"is",sum)

enter the element{1,4,3,2,5}
the sum of the given <class 'set'> is 15