# tuple and set

# tuple

In [ ]:
#tuple consider as a read only list ,,,means we can not manipulate tuple.
#same as list but immutable
#indexing
#ordered
#slicing
#heterogen
#duplicates allowed

In [1]:
# parenthesis is optional
a = 1,2,3
print(type(a))

<class 'tuple'>

In [13]:
a = () # declaring empty tuple
b = tuple()
c =(1,) # without coma python consider it as a value...check In[19]
d = (1,2,3,4,5)
e = tuple([1,2,3,4,5]) #converting list to tuple
f = tuple("mithun") #convering string to tuple

print(e)

(1, 2, 3, 4, 5)

In [68]:
a = tuple(range(1,10))
print(a)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [19]:
a = (10+20)*30
b = (10+20)*(30) #(30) works as a value

print(a,b)

900 900

In [22]:
#just like list and string ==> + works as concatenation and * woeks as repeatition
a = (1,2,3)
b = (4,5,6)
print(a+b) #concatenation

(1, 2, 3, 4, 5, 6)

In [23]:
a = (1,2,3,4)
print(a*3) #repeatition

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [39]:
#indexing and slicing same as list and string
a = (1,2,3,"mithun")
print(a)

(1, 2, 3, 'mithun')

In [40]:
print(a[0])

1

In [41]:
print(a[100])

IndexError: tuple index out of range

In [1]:
a = (10,20,30,12.5,"mithun",25)
m=(a[:3]) #begining to 3-1 index
print(m)

(10, 20, 30)

In [43]:
print(a)

(10, 20, 30, 12.5, 'mithun', 25)

In [44]:
print(a[3:])

(12.5, 'mithun', 25)

In [45]:
#tuple is immutable : we can not chnage anything in tuple 
a = (1,2,3,4,"mithun")
a[0] = "500" # can't change anythig inside tuple
print(a)

TypeError: 'tuple' object does not support item assignment

In [1]:
a = (1,2,3)
b = [4,5,6]
print(a+b)  # error... 'a' and 'b' ka type same hona chahiye.

TypeError: can only concatenate tuple (not "list") to tuple

In [2]:
# important function on tuple
# add, remove, insert ==> no such methods on tuple cuz it is immutable
# len ==> list, string, tuple
a = (1,2,3,4)
print(len(a))

4

In [3]:
b = ((1,2,3),"mithun")
print(len(b))  # 2 elements are there

2

In [5]:
print(b[0])

(1, 2, 3)

In [6]:
#count==> to count no of occurences of an eleent in tuple
a = (1,2,3,4,5,5,5,5,5,5,5,5)
print(a.count(5))

8

In [7]:
print(a.count(15)) #count function does not gives error

0

In [18]:
a = (1,2,3,4)
b = list(a)   #converting tuple to list
print(b)

[1, 2, 3, 4]

#sorted function in tuple

In [23]:
a = (5,10,25,15,45,35)
b = sorted(a) # a list is returned
print(b) # with sorted data a list is created  #default is accending order
print(a) # 'a' is same as it is immutable

[5, 10, 15, 25, 35, 45]
(5, 10, 25, 15, 45, 35)

In [24]:
a = (5,10,25,15,45,35)
b = sorted(a , reverse=True) # a list is returned  #reverse=True   ==> descending order mai list create hoga
print(b) # with sorted data a list is created  
print(a) # 'a' is same as it is immutable

[45, 35, 25, 15, 10, 5]
(5, 10, 25, 15, 45, 35)

In [27]:
a = ("mithun")
b = sorted(a)
print(b)

['h', 'i', 'm', 'n', 't', 'u']

In [28]:
b = sorted("raptan")
print(b)

['a', 'a', 'n', 'p', 'r', 't']

In [29]:
b = sorted("raptan", reverse=True)
print(b)

['t', 'r', 'p', 'n', 'a', 'a']

In [31]:
x = (2,3,4,"mithun")
y = sorted(x)  # can not apply sorted bcuz elements are not of same type
print(y)

TypeError: '<' not supported between instances of 'str' and 'int'

#max and min in tuple

In [32]:
a = ("mithun")
max(a)

'u'

In [35]:
a = (5,10,25,15,45,35)
print(max(a))
print(min(a))

45
5

# packing unpacking in tuple

In [3]:
a = 14
b = "mithun"
c = 34
d = "raptan"
t = a,b,c,d #packing  #a,b,c,d packed into t

e,f,g,h = t #unpacking  #from t the value of a,b,c,d will comes into e,f,g,h
print(e,f,g,h)

14 mithun 34 raptan

In [37]:
a = 14
b = "mithun"
c = 34
d = "raptan"
t = a,b,c,d #packing  ..# a,b,c,d packed into t


e,f =t #error ...RHS is a pack of four elements... need same variable when unpacking
print(e,f)

ValueError: too many values to unpack (expected 2)

In [41]:
 # comprehension concepts does works for tuple.

# set

In [42]:
#duplicates not allowed
#unordered   ==> but we can sort
#no indexing concept
#no slicing concept
#heterogeneous 
#mutable

In [49]:
#a = {} # this is not the way to create empty set. cuz in python it's called dictionary
#print(type(a))  # returns dictionary


# creating empty set in pyhton
a = set()
print(type(a))

<class 'set'>

In [55]:
a = {1,2,3}
print(a)
print(type(a))

{1, 2, 3}
<class 'set'>

In [58]:
a = {1}
print(a)
print(type(a))

{1}
<class 'set'>

In [63]:
a = set("raptan")  #convering string to set 
                   # duplicates elements not allowed  ==> 'a' will come only once 
                   # unordered ==> 
print(a)

{'t', 'r', 'a', 'n', 'p'}

In [38]:
a = {1,1,1,23,2,4,3,5}
print(a)  # 1 will come only once

{1, 2, 3, 4, 5, 23}

In [4]:
a = set([1,2,3,4,1,1,1,])
print(a)

{1, 2, 3, 4}

In [5]:
a = set((2,3,4,5))
print(a)

{2, 3, 4, 5}

# we can add and remove an element from the set bcuz set is dynamic

In [40]:
a = {1,2,3,4,5}
a.add(45)
print(a)

a.remove(5)
print(a)

{1, 2, 3, 4, 5, 45}
{1, 2, 3, 4, 45}

#we can only directly add immutable elements using 'add()' to the set i.e, tuple, string

In [41]:
a.add((20,30,40)) #adding a tuple inside set  ## tuple ==>immutable
print(a)

{1, 2, 3, 4, (20, 30, 40), 45}

In [42]:
a.add("mithun") #string is immutable this is why it is added into set
print(a)

{'mithun', 1, 2, 3, 4, (20, 30, 40), 45}

In [43]:
a.add([200,300,400])  # list is mutable == can't add into set
print(a)

TypeError: unhashable type: 'list'

In [44]:
#to adding mutable data type in the set there is method called 'update'
  # update() :does not take individual elements as arguments.
              # only take iterable element like list, set also(indexing is not there means we can't access particular element)
                                                                                    #but we can iterate setover their elelemnts using for loop.

In [45]:
a.update([100,200,300]) #list  ==>mutable
                                    #order nhi hai set me. isliliye jaha marji uha add hoga

In [46]:
a

{(20, 30, 40), 1, 100, 2, 200, 3, 300, 4, 45, 'mithun'}

In [47]:
a.update("raptan")
print(a)

{1, 2, 3, 4, 'r', 200, 'n', 'p', (20, 30, 40), 100, 'a', 300, 45, 'mithun', 't'}

In [48]:

a.update((-1,-2,-3))
print(a)

{1, 2, 3, 4, 'r', 200, 'n', 'p', (20, 30, 40), 100, 'a', 300, 45, 'mithun', -2, 't', -3, -1}

In [49]:
a.update(12.34) 
print(a)  # doesn't take individual element as an argument

TypeError: 'float' object is not iterable

In [51]:
a.update(125) # doesn't take individual element as an argument
print(a)

TypeError: 'int' object is not iterable

In [3]:
#set added into set => mutable added 
m={3,4}
m.update({5,6,7,4,3,2})
print(m)

{2, 3, 4, 5, 6, 7}

In [25]:
a.add(12.34) # add ==> take individual element as an argument also.
print(a)

{1, 2, 3, 4, 'r', 200, 'n', 12.34, 'p', (20, 30, 40), 100, 'a', 300, 45, 'mithun', -2, 't', -3, -1}

#chotokhato program for concept clearing

In [6]:
a = input("enter the set element using space: ").split()
print(a)
s = set() # creating empty set 
for value in a:
    s.add(int(value))  # append is not there in set
                        #update() ==> does not take individual element as an arg
                #add() ==> takes individual argument also.
print(s)

enter the set element using space: 1 2 3 4 5
['1', '2', '3', '4', '5']
{1, 2, 3, 4, 5}

In [9]:
a = input("enter the number using space here"). split()
emptyset = set()
for number in a:
    emptyset.add(int(number))
print(emptyset)

enter the number using space here1 2 3
{1, 2, 3}

#copy() ==> copy the entire set

In [62]:
a ={1,2,3}
b = a.copy()
print(b)

{1, 2, 3}

# remove() ==> remove the particular element from the set and remove doesn't return anything
                # if the element is not present ==>error
                # if empty set ==>error
# pop() ==> remove any of the element from the set(bcuz set has no indexing concept) and return the 
element
                 #empty set ==>error
                 
#discard() ==> remove the element from the set
                 #empty set ==>error
                 #if the element is not present ==>not error

In [76]:
#remove()
a = {1,2,3,4}
a.remove(3)
print(a)

{1, 2, 4}

In [77]:
#pop()==> we can't put index inside pop bcuz set has no index concept
            # pop the random element from the set
b = {1,2,3,4,5,6}
print(id(b))
pop_element = b.pop()
print(pop_element)
print(b) 
print(id(b))     # b is mutable this is why b set changed with same id reference

1224740944832
1
{2, 3, 4, 5, 6}
1224740944832

# difference check of pop(),remove() and discard()

In [95]:
# for empty set all gives the error
a = set() # creating empty set

In [96]:

a.pop()
print(a)

KeyError: 'pop from an empty set'

In [97]:
a.remove()
print(a)

TypeError: set.remove() takes exactly one argument (0 given)

In [98]:
a.discard()
print(a)

TypeError: set.discard() takes exactly one argument (0 given)

In [116]:
#for not empty set
a = {1,2,3,4}

In [117]:
a.remove(500)

KeyError: 500

In [118]:
a.discard(500) # discard not gives error if the element is not present.

In [120]:
a.pop() # pop toh error ee debe na bcuz set is not empty . pop takes index but set has not index concept,,so pop jekono element tule debe.

2

#clear() ==> clear the entire set

In [126]:
a = {1,2,3,4,5,6}
a.clear()
print(a)

set()